button {
    position: relative;
  
    margin: auto;

    top: 50%;

    transform: translateY(-50%);

    height: 22px;

    line-height: 16px;

    font-size: 12px;
  
    background-color: rgb(255, 225, 225);
}