button {
    position: relative;
  
    margin: auto;

    display: inline;

    border: 2px solid black;
    border-radius: 5px;

    height: 19px;

    line-height: 15px;

    font-size: 12px;
  
    background-color: rgb(255, 225, 225);
}